@use '../utils' as *;

/*----------------------------------------*/
/*  2.8 pagination
/*----------------------------------------*/

.#{$theme-prifix}-pagination {
    & li{
        display: inline-block;
        & a{
            height: 50px;
            width: 50px;
            font-size: 14px;
            font-weight: 500;
            display: block;
            color: var(--tp-common-mulberry);
            border-radius: 30px;
            line-height: 50px;
            text-align: center;
            margin-right: 5px;
            @include transition();
        }
        & .current, & .dots{
            background-color: var(--tp-theme-primary);
            color: var(--tp-common-white);
            height: 50px;
            width: 50px;
            font-size: 14px;
            font-weight: 500;
            display: block;
            text-align: center;
            border-radius: 30px;
            line-height: 50px;
            margin-right: 5px;
        }
        &:hover{
            & a{
                background-color: var(--tp-common-emerald);
                color: var(--tp-common-mulberry);
            }
            &.current{
                & a{
                    background-color: var(--tp-theme-primary);
                    color: var(--tp-common-white);
                }
            }
        }
    }
}